**Question 1**: Download and load the Ames CSV file. Read the file into a Pandas DataFrame and display the first five rows.

In [14]:
import pandas as pd

df = pd.read_csv('AmesHousing.csv')

display(df.head())

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

**Question 2**:  Print the highest and lowest priced homes in Ames.

In [15]:
max_sale_price = df['SalePrice'].max()
min_sale_price = df['SalePrice'].min()

print(f'The most expensive home in Ames is ${max_sale_price}')
print(f'The least expensive home in Ames is ${min_sale_price}')

The most expensive home in Ames is $755000
The least expensive home in Ames is $12789

**Question 3**:  How many categories does lot size have?

In [16]:
shape_categories = df['Lot Shape'].nunique()

print(f'Lot Shape has {shape_categories} categories.')

Lot Shape has 4 categories.

**Question 4**:  What is the range of years for the house listings in the data?

In [17]:
min_year_sold = df['Yr Sold'].min()
max_year_sold = df['Yr Sold'].max()

print(f'Houses in Ames have been sold between {min_year_sold} and {max_year_sold} for a total of {max_year_sold - min_year_sold} years.')

Houses in Ames have been sold between 2006 and 2010 for a total of 4 years.

**Question 5**:  What is the total number of all homes sold in Ames for all years?

In [18]:
count_sold = df['Yr Sold'].count()
print(f'{count_sold} homes have been sold between {min_year_sold} and {max_year_sold} in Ames.')

2930 homes have been sold between 2006 and 2010 in Ames.

**Question 6**:  How many nulls or NA are there in the Lot Frontage column?

In [19]:
null_lot_frontage = df['Lot Frontage'].isna().sum()

print(f'There are {null_lot_frontage} Null or NA values in the Lot Frontage column.')

There are 490 Null or NA values in the Lot Frontage column.

**Question 7**:  How many items have a value in Alley and what is the total number of  NA in the column?

In [20]:
count_alley_items = df['Alley'].count()
null_alley_items = df['Alley'].isna().sum()

print(f'There are {count_alley_items} Alley items and {null_alley_items} Null or NA items.')

There are 198 Alley items and 2732 Null or NA items.

**Question 8**:  What are all the homes in Gilbert with Yr Sold being 2009 and 2010?

In [22]:
filter_df = df.query("Neighborhood == 'Gilbert' & (`Yr Sold` == 2009 | `Yr Sold` == 2010)")
#filter_df = df[(df['Neighborhood'] == 'Gilbert') & (df['Yr Sold'].isin([2009, 2010]))]

display(filter_df)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900
5,6,527105030,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,195500
9,10,527162130,60,RL,60.0,7500,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,189000
10,11,527163010,60,RL,75.0,10000,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,175900
11,12,527165230,20,RL,NaN,7980,Pave,NaN,IR1,Lvl,...,0,NaN,GdPrv,Shed,500,3,2010,WD,Normal,185000
12,13,527166040,60,RL,63.0,8402,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,180400
13,14,527180040,20,RL,85.0,10176,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,2,2010,WD,Normal,171500
16,17,527225035,50,RL,152.0,12134,Pave,NaN,IR1,Bnk,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,164000
18,19,527276150,20,RL,140.0,19138,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,141000
51,52,528218150,20,RL,100.0,18494,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,1,2010,WD,Normal,199500
54,55,528231020,80,RL,67.0,13300,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,184500
55,56,528240070,60,RL,NaN,7851,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,216500
56,57,528240130,60,RL,63.0,8577,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,185088
57,58,528250100,80,RL,NaN,7750,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,180000
58,59,528292020,60,RL,NaN,9505,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,222500
344,345,527105070,60,RL,88.0,10179,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,7,2009,WD,Normal,189500
345,346,527105130,60,RL,NaN,11792,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,8,2009,WD,Normal,270000
346,347,527107130,80,RL,60.0,8400,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,Shed,490,6,2009,WD,Normal,189000
347,348,527108070,20,RL,42.0,14892,Pave,NaN,IR1,HLS,...,0,NaN,NaN,NaN,0,10,2009,WD,Normal,377500
348,349,527110020,80,RL,NaN,8530,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Shed,700,5,2009,WD,Normal,168500
353,354,527161040,80,RL,57.0,8923,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,2,2009,WD,Normal,177500
354,355,527162110,60,RL,74.0,10141,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,12,2009,WD,Normal,185000
355,356,527162120,60,RL,60.0,7500,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,10,2009,WD,Normal,191000
356,357,527163040,60,RL,59.0,7837,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2009,WD,Normal,178000
357,358,527163070,60,RL,NaN,9765,Pave,NaN,IR2,Lvl,...,0,NaN,NaN,Shed,480,4,2009,WD,Normal,185000
358,359,527163130,60,RL,NaN,8803,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,7,2009,WD,Normal,181316
359,360,527164020,20,RL,58.0,7250,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,11,2009,WD,Normal,166000
360,361,527164060,60,RL,NaN,9636,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,12,2009,WD,Normal,178000
361,362,527164090,60,RL,65.0,8125,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,3,2009,WD,Normal,174000
362,363,527165130,20,RL,NaN,9248,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,7,2009,WD,Normal,173000
363,364,527166010,60,RL,NaN,10762,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2009,WD,Normal,225000
364,365,527180100,20,RL,99.0,11851,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,5,2009,WD,Normal,180500
369,370,527276160,60,RL,85.0,11900,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,7,2009,WD,Normal,185000
464,465,528218090,60,RL,63.0,10928,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,6,2009,WD,Normal,184000
465,466,528220040,60,RL,57.0,8918,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,7,2009,WD,Normal,167800
466,467,528221060,60,RL,149.0,12589,Pave,NaN,IR2,Lvl,...,0,NaN,NaN,NaN,0,6,2009,WD,Normal,174000
467,468,528221070,60,RL,122.0,11911,Pave,NaN,IR2,Lvl,...,0,NaN,NaN,NaN,0,3,2009,WD,Normal,174000
474,475,528235010,60,RL,71.0,7795,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,7,2009,WD,Normal,188500
475,476,528235090,60,RL,NaN,8068,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,12,2009,ConLI,Normal,200000
476,477,528235200,80,RL,59.0,9434,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,8,2009,WD,Normal,170000
477,478,528240030,60,RL,62.0,7984,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,9,2009,WD,Normal,189500
478,479,528240060,80,RL,NaN,7750,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,3,2009,WD,Normal,184100
479,480,528240150,60,RL,61.0,10125,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,7,2009,WD,Normal,195500
480,481,528250020,60,RL,NaN,8965,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,6,2009,WD,Normal,192000
481,482,528250040,60,RL,NaN,8174,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2009,WD,Normal,178000
483,484,528275070,60,RL,NaN,8795,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,4,2009,WD,Normal,236000
484,485,528275160,60,RL,NaN,12891,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,7,2009,WD,Normal,257500
485,486,528280230,60,RL,NaN,12224,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,7,2009,WD,Normal,244000
486,487,528290030,80,RL,61.0,9734,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2009,WD,Normal,167000
487,488,528290120,60,RL,60.0,8123,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,6,2009,WD,Normal,179000
488,489,528290180,60,RL,42.0,8433,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,6,2009,WD,Normal,190000
489,490,528290190,80,RL,62.0,7750,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,3,2009,WD,Normal,156000
490,491,528292030,60,RL,NaN,15896,Pave,NaN,IR2,Lvl,...,0,NaN,NaN,NaN,0,5,2009,WD,Normal,245000
491,492,528292040,60,RL,NaN,24682,Pave,NaN,IR3,Lvl,...,0,NaN,NaN,NaN,0,6,2009,WD,Normal,181000
492,493,528292070,60,RL,NaN,8755,Pave,NaN,IR1,Lvl,...,0,NaN,GdPrv,NaN,0,6,2009,WD,Normal,214000
493,494,528294050,80,RL,64.0,7848,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,6,2009,WD,Normal,168000

**Question 9**:  What is the count of homes sold in Gilbert with Yr Sold being 2010?

In [23]:
count_gilbert_2010 = filter_df[filter_df['Yr Sold'] == 2010].shape[0]

print(f'{count_gilbert_2010} homes have been sold in Gilbert in 2010.')

15 homes have been sold in Gilbert in 2010.

**Question 10**:  Return the value of the third row, and fifth column.

In [24]:
value = df.iloc[2, 4]

display(value)

81.0

**Question 11**:  Remake a new column from the SalePrice that includes data formatted with the $, and commas for the thousands/millions digits.

In [25]:
df['SalePriceUSD'] = df['SalePrice'].apply(lambda x: "${:,.0f}".format(x))

display(df.head())

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice,SalePriceUSD
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,NaN,NaN,NaN,0,5,2010,WD,Normal,215000,"$215,000"
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000,"$105,000"
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000,"$172,000"
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,NaN,NaN,NaN,0,4,2010,WD,Normal,244000,"$244,000"
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900,"$189,900"

**Question 12**:   Output a dataframe with only SalePrice, Neighborhood, and Year Built.  Save this file in your git repository as “minimal_ames_housing.csv”,  Make sure you include the formatted SalePrice from the previous question.

In [26]:
df_for_git = df[['Neighborhood', 'Year Built', 'SalePrice', 'SalePriceUSD']]

#Include index because original dataframe contained indicies
df_for_git.to_csv('minimal_ames_housing.csv', index=True)